# Used Car Price Prediction   using random forest regression

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings

%pip install plotly
import plotly.express as px

Collecting plotly
  Downloading plotly-6.1.2-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: narwhals>=1.15.1 in d:\b-tech cse iiit\b-tech cse iiit\python\venv\lib\site-packages (from plotly) (1.29.0)
Requirement already satisfied: packaging in d:\b-tech cse iiit\b-tech cse iiit\python\venv\lib\site-packages (from plotly) (24.2)
Downloading plotly-6.1.2-py3-none-any.whl (16.3 MB)
   ---------------------------------------- 0.0/16.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.3 MB ? eta -:--:--
    --------------------------------------- 0.3/16.3 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.3 MB 985.5 kB/s eta 0:00:16
   - -------------------------------------- 0.8/16.3 MB 1.0 MB/s eta 0:00:16
   -- ------------------------------------- 1.0/16.3 MB 1.1 MB/s eta 0:00:14
   -- ------------------------------------- 1.0/16.3 MB 1.1 MB/s eta 0:00:14
   --- ------------------------------------ 1.3/16.3 MB 1.0 MB/s eta 0:00:15
   --- ------------------------------------ 1.6/16.3 MB 1.1 MB/s eta 0:00:14
   ---- ----------------------------------- 1.8/16.3 MB 1.1 MB/s eta 0:00:14
   ----- ---------------------------------- 2.1/16.3 MB 1.1 MB/s eta 0:00:14
   ----- ---------------------------------- 2.4/16.3 MB 1.1 MB/s eta 0:00:14
   ----- ---------------------------------- 2.4/16.3 MB 1.1 MB/s eta 0:00:14
   ------- -------------------------------- 2.9/16.3 MB 1.1 MB/s eta 0:00:13
   ------- -------------------------------- 3.1/16.3 MB 1.1 MB/s eta 0:00:12
   -------- ------------------------------- 3.4/16.3 MB 1.1 MB/s eta 0:00:12
   --------- ------------------------------ 3.7/16.3 MB 1.2 MB/s eta 0:00:11
   --------- ------------------------------ 3.9/16.3 MB 1.2 MB/s eta 0:00:11
   ---------- ----------------------------- 4.5/16.3 MB 1.2 MB/s eta 0:00:10
   ----------- ---------------------------- 4.7/16.3 MB 1.3 MB/s eta 0:00:10
   ------------ --------------------------- 5.2/16.3 MB 1.3 MB/s eta 0:00:09
   ------------- -------------------------- 5.5/16.3 MB 1.3 MB/s eta 0:00:09
   -------------- ------------------------- 6.0/16.3 MB 1.4 MB/s eta 0:00:08
   ---------------- ----------------------- 6.6/16.3 MB 1.4 MB/s eta 0:00:07
   ---------------- ----------------------- 6.8/16.3 MB 1.4 MB/s eta 0:00:07
   ------------------ --------------------- 7.3/16.3 MB 1.4 MB/s eta 0:00:07
   ------------------ --------------------- 7.6/16.3 MB 1.4 MB/s eta 0:00:06
   ------------------- -------------------- 8.1/16.3 MB 1.5 MB/s eta 0:00:06
   -------------------- ------------------- 8.4/16.3 MB 1.5 MB/s eta 0:00:06
   --------------------- ------------------ 8.9/16.3 MB 1.5 MB/s eta 0:00:05
   ----------------------- ---------------- 9.4/16.3 MB 1.5 MB/s eta 0:00:05
   ------------------------ --------------- 10.0/16.3 MB 1.6 MB/s eta 0:00:05
   ------------------------- -------------- 10.5/16.3 MB 1.6 MB/s eta 0:00:04
   --------------------------- ------------ 11.0/16.3 MB 1.6 MB/s eta 0:00:04
   ---------------------------- ----------- 11.5/16.3 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 12.1/16.3 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 12.6/16.3 MB 1.7 MB/s eta 0:00:03
   -------------------------------- ------- 13.1/16.3 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 13.6/16.3 MB 1.8 MB/s eta 0:00:02
   ---------------------------------- ----- 14.2/16.3 MB 1.8 MB/s eta 0:00:02
   ------------------------------------ --- 14.7/16.3 MB 1.8 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.3 MB 1.8 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.3 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 16.3/16.3 MB 1.9 MB/s eta 0:00:00
Installing collected packages: plotly
Successfully installed plotly-6.1.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
df=pd.read_csv('cardekho_imputated.csv')

In [4]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

# feature engi

In [5]:
df.isnull()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15407,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15408,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15409,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15410,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
df.isnull().sum()

Unnamed: 0           0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [8]:
df.columns

Index(['Unnamed: 0', 'car_name', 'brand', 'model', 'vehicle_age', 'km_driven',
       'seller_type', 'fuel_type', 'transmission_type', 'mileage', 'engine',
       'max_power', 'seats', 'selling_price'],
      dtype='object')

In [ ]:
df.drop(['car_name', 'brand'], axis=1 , inplace=True)

In [15]:
df.head()

,Unnamed: 0,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [16]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

Getting diff types of feature

In [21]:
num_feature = [feature for feature in df.columns if df[feature].dtype != 'o']
print('num of numerical Features : ' , len(num_feature))

num of numerical Features :  12

In [22]:
cat_feature = [feature for feature in df.columns if df[feature].dtype == 'O']
print('num of categorical feature :' , len(cat_feature))

num of categorical feature : 4

In [19]:
discrete_feature = [feature for feature in num_feature if len(df[feature].unique()) <= 25]
print('num of discrete feature:', len(discrete_feature))

num of discrete feature: 5

In [20]:
continuous_feature = [feature for feature in num_feature if feature not in discrete_feature]
print('num of continuous feature:', len(continuous_feature))

num of continuous feature: 7

In [27]:
from sklearn.model_selection import train_test_split


x=df.drop(['selling_price'],axis=1)

y=df['selling_price']

In [28]:
x.head()

,Unnamed: 0,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

Feature encoding

In [29]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

x['model'] =le.fit_transform(x['model'])

In [33]:
x.head()

,Unnamed: 0,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [ ]:
num_feature=x.select_dtypes(exclude='object').columns
onehot_column= ['seller_type' , 'fuel_type' , 'transmission_type']
label_encoder_column = ['model']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ('OneHotEncoder', oh_transformer, onehot_column),
        ('StandardScaler', numeric_transformer, num_feature)
    ] , remainder='passthrough'
)

In [34]:
x=preprocessor.fit_transform(x)

In [35]:
x

array([[ 1.        ,  0.        ,  0.        , ..., -1.32425883,
        -1.26335238, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43257082, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.47911321, -0.40302241],
       ...,
       [ 0.        ,  0.        ,  1.        , ...,  0.02291783,
         0.06822523, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  1.32979434,
         0.91715831,  2.07344426],
       [ 0.        ,  0.        ,  0.        , ...,  0.02099878,
         0.39588361, -0.40302241]], shape=(15411, 15))

In [36]:
pd.DataFrame(x)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.738694,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.738516,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.738339,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.738162,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-1.737985,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.723327,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.723859,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.724036,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.724213,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.724391,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [41]:
from sklearn.ensemble import RandomForestClassifier , RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression , Ridge , Lasso , LinearRegression

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier , DecisionTreeRegressor

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score , classification_report , confusion_matrix , f1_score , precision_score , r2_score , mean_absolute_error , mean_squared_error

In [63]:
# creating a funtion to evaluate model
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mse)
    r2 = r2_score(true, predicted)
    return mae, mse, rmse, r2

# Begin of model training training

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

In [ ]:
# import warnings
# warnings.filterwarnings('ignore')

models = {
    'Linear Regression': LinearRegression(),
    'LogisticRegression': LogisticRegression(),
    'Lasso': Lasso(),
    'Ridge': Ridge(),
    'Decision Tree': DecisionTreeRegressor(),
    "KNeighborsClassifier":KNeighborsClassifier(),
    'Random Forest': RandomForestRegressor(),
}


for i in range(len(list(models))):
    model_name = list(models.keys())[i]
    model = list(models.values())[i]
    model.fit(x_train, y_train)

    x_train_pred = model.predict(x_train)
    x_test_pred = model.predict(x_test)

    # Evaluate for training set
    model_train_mae, model_train_mse, model_train_rmse, model_train_r2 = evaluate_model(y_train, x_train_pred)

    # Evaluate for test set
    model_test_mae, model_test_mse, model_test_rmse, model_test_r2 = evaluate_model(y_test, x_test_pred)

    print(model_name)
    print('---------------------------------')
    print(f"Train MAE: {model_train_mae:.2f}, RMSE: {model_train_rmse:.2f}, R2: {model_train_r2:.2f}")
    print(f"Test MAE: {model_test_mae:.2f}, RMSE: {model_test_rmse:.2f}, R2: {model_test_r2:.2f}")
    print('='*35)
    print('\n')

print('---------------------------------')

Linear Regression
---------------------------------
Train MAE: 268301.43, RMSE: 556695.48, R2: 0.61
Test MAE: 270411.97, RMSE: 488692.97, R2: 0.70
===================================


LogisticRegression
---------------------------------
Train MAE: 193693.72, RMSE: 445702.67, R2: 0.75
Test MAE: 201745.05, RMSE: 472041.77, R2: 0.72
===================================


Lasso
---------------------------------
Train MAE: 268300.02, RMSE: 556695.49, R2: 0.61
Test MAE: 270410.10, RMSE: 488694.11, R2: 0.70
===================================


Ridge
---------------------------------
Train MAE: 268266.00, RMSE: 556695.81, R2: 0.61
Test MAE: 270373.64, RMSE: 488689.18, R2: 0.70
===================================


Decision Tree
---------------------------------
Train MAE: 0.00, RMSE: 0.00, R2: 1.00
Test MAE: 139774.89, RMSE: 566795.39, R2: 0.59
===================================


KNeighborsClassifier
---------------------------------
Train MAE: 150146.17, RMSE: 525766.54, R2: 0.66
Test MAE: 183721.70, RMSE: 474209.08, R2: 0.72
===================================


Random Forest
---------------------------------
Train MAE: 36076.37, RMSE: 134283.88, R2: 0.98
Test MAE: 98623.70, RMSE: 237256.91, R2: 0.93
===================================


---------------------------------

#  to launch this model , run the following command: below in comments

# using streamlit , flask then i deploy to github -->

In [ ]:
# Save the preprocessor and your best model (e.g., Random Forest)
# import joblib

# joblib.dump(preprocessor, "preprocessor.pkl")
# joblib.dump(RandomForestRegressor().fit(x_train, y_train), "car_price_model.pkl")

# hyperparameter tuning

In [78]:
knn_params = {'n_neighbors' : [2,3,10,40,55]}

rf_params = {
    'max_depth': [5, 8, None, 11],
    'max_features': [5, 7, "auto", 8],  # <-- corrected here
    'n_estimators': [10, 50, 100, 200, 500, 1000, 2000],
    'min_samples_split': [2, 8, 15, 20]
}

In [75]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

In [76]:
# model list for hyperpapameter tuning

randomcv_models = [('KNN', KNeighborsRegressor(), knn_params),
                   ('RF', RandomForestRegressor(), rf_params),
                   ]

In [79]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}

for name, model, params in randomcv_models:
    random = RandomizedSearchCV(
        estimator=model,
        param_distributions=params,
        cv=3,
        n_iter=100,
        verbose=2,
        n_jobs=-1
    )
    random.fit(x_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"Best parameters for {model_name}: {model_param[model_name]}")

Fitting 3 folds for each of 5 candidates, totalling 15 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits

ValueError: Invalid parameter 'max_feature' for estimator RandomForestRegressor(min_samples_split=20, n_estimators=10). Valid parameters are: ['bootstrap', 'ccp_alpha', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'max_samples', 'min_impurity_decrease', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'monotonic_cst', 'n_estimators', 'n_jobs', 'oob_score', 'random_state', 'verbose', 'warm_start'].

In [80]:
from sklearn.neighbors import KNeighborsRegressor

# retraining model with best parameters

In [98]:
models = {
    'Random Forest Regressor': RandomForestRegressor(n_estimators=100, min_samples_split=2, max_features='sqrt', n_jobs=-1),
    'K-Neighbors Regressor': KNeighborsRegressor(n_neighbors=5, weights='uniform', algorithm='auto')
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model_name = list(models.keys())[i]
    model.fit(x_train, y_train)

    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)

    # Evaluate for training set
    model_train_mae, model_train_mse, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    # Evaluate for test set
    model_test_mae, model_test_mse, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    print(f"Model: {model_name}")
    print('--- Training Metrics ---')
    print(f"Train MAE: {model_train_mae:.2f}")
    print(f"Train RMSE: {model_train_rmse:.2f}")
    print(f"Train R2: {model_train_r2:.2f}")
    print()

    print('--- Testing Metrics ---')
    print(f"Test MAE: {model_test_mae:.2f}")
    print(f"Test RMSE: {model_test_rmse:.2f}")
    print(f"Test R2: {model_test_r2:.2f}")
    print('=' * 40)
    print()

Model: Random Forest Regressor
--- Training Metrics ---
Train MAE: 36541.86
Train RMSE: 140600.85
Train R2: 0.98

--- Testing Metrics ---
Test MAE: 100155.18
Test RMSE: 247901.15
Test R2: 0.92
========================================

Model: K-Neighbors Regressor
--- Training Metrics ---
Train MAE: 97324.38
Train RMSE: 331565.04
Train R2: 0.86

--- Testing Metrics ---
Test MAE: 119713.12
Test RMSE: 283547.22
Test R2: 0.90
========================================

# Deployment strart from here

In [100]:
# Save the preprocessor and your best model (e.g., Random Forest)
import joblib

joblib.dump(preprocessor, "preprocessor.pkl")
joblib.dump(model, "car_price_model_Prediction.pkl")  # 'model' is the last trained model in your loop above

['car_price_model_Prediction.pkl']

In [ ]:
here flask code